.button {
  text-decoration: none;
  background-color: #1c51e4;
  color: white;
  border-style: none;
  border-radius: 3px;
  padding: 4px;
}

.button:hover {
  color: white;
  background-color: #1c51e4c2;
}
