#nav li {
  margin: auto 10px;
}

#nav li a {
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

nav section a img {
  width: 70px;
}
.active {
  color: #1c51e4 !important;
  background-size: 100% 2px !important;
}

#nav li a:hover {
  color: #1c51e4;
  background-size: 100% 2px;
}
