footer {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  height: auto;
  background-color: #1e68c9;
}

footer p {
  margin: 25px;
  color: white;
}

footer section a {
  margin: 10px;
}

footer section figure {
  margin-top: 110px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  color: white;
}

footer section figure img {
  width: 80px;
}

footer section figure figcaption {
  width: 100%;
  margin-left: 20px;
  font-size: 2em;
  font-weight: 600;
}

footer section a {
  padding: 0px 27px;
}

footer section a {
  color: white;
}

footer section a:hover {
  color: #59cbff;
}

.links {
  height: 100%;
  margin-top: 110px;
  color: white;
}

.links a {
  display: flexbox;
  width: 100px;
}

.links a:hover {
  color: #59cbff;
}

.contacto {
  height: 100%;
  margin-top: 110px;
  color: white;
}
.contactIcons {
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  footer section a {
    margin: 0px;
  }
  .links {
    margin-top: 20px;
  }

  .contacto {
    margin-top: 20px;
  }
}
