footer {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  height: auto;
  background-color: #1842b8;
}

footer p {
  margin: 25px;
  color: white;
}

footer section {
  margin: 80px 50px;
}

footer section a {
  text-decoration: none;
  margin: 10px;
}

footer section figure {
  display: flex;
  align-items: center;
  color: white;
}

footer section figure img {
  width: 80px;
}

footer section figure figcaption {
  width: 100%;
  margin-left: 20px;
  font-size: 2em;
  font-weight: 600;
}

footer section a svg {
  color: white;
}

footer section a svg:hover {
  color: #59cbff;
}

.links {
  height: 100%;
  margin-top: 110px;
  color: white;
}

.links a:hover {
  color: #59cbff;
}

@media (max-width: 1200px) {
  .links {
    margin-top: 0px;
  }
}
